# Example environment variables
PORT=8080
LOG_LEVEL=info
# Either configure Cognito OR HTPASSWD_FILE (not both)
#AWS_COGNITO_POOL_ID=
#AWS_COGNITO_CLIENT_ID=
#HTPASSWD_FILE=tests/.htpasswd
API_URL=http://localhost:8080
